@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
}

<partial name="_Slider" model="Model.Sliders" />

@section Scripts{
    <script>
        $(".carousel-item:first").addClass("active")
    </script>
}

<div class="text-center">
    <h1 class="display-4">Popüler Ürünlerimiz</h1>
</div>

<section class="pb-1">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <partial name="_ProductPartial" model="Model.Products" />
        </div>
    </div>
</section>