@model IEnumerable<Category>

@{
    foreach (var anaKategori in Model.Where(c => c.IsActive && c.IsTopMenu && c.ParentId == 0))
    {
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @anaKategori.Name
            </a>

            <ul class="dropdown-menu">                
                @foreach (var altKategori in Model.Where(c => c.IsActive && c.IsTopMenu && c.ParentId == anaKategori.Id))
                {
                    <li><a class="dropdown-item" href="/Categories/Index/@altKategori.Id">@altKategori.Name</a></li>
                }
            </ul>
        </div>
    }
}