@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
}

<partial name="_Slider" model="Model.Sliders" />

@section Scripts{
    <script>
        $(".carousel-item:first").addClass("active")
    </script>
}

<div class="text-center">
    <h1 class="display-4">Popüler Ürünlerimiz</h1>
</div>

