@model Setting

@{
    ViewData["Title"] = "Ayarlar";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Logo" />
            <input type="hidden" asp-for="Favicon" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailServer" class="control-label"></label>
                <input asp-for="MailServer" class="form-control" />
                <span asp-validation-for="MailServer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Port" class="control-label"></label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Favicon" class="control-label"></label>
                <input asp-for="Favicon" class="form-control" type="file" />
                <span asp-validation-for="Favicon" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.Favicon))
                {
                    <img src="/Img/@Model.Favicon" alt="" height="15" />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            @Html.CheckBox("faviconuSil") Resmi Sil
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" type="file" />
                <span asp-validation-for="Logo" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.Logo))
                {
                    <img src="/Img/@Model.Logo" alt="" height="50" />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            @Html.CheckBox("logoyuSil") Resmi Sil
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

